<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="CrocoG WebDesign Academy">
    <meta name="author" content="Gennadiy Filimonov Inc.">
    <link rel="icon" href="../static/images/favicon.ico">

    <title>Contacts</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
<!--    <link href="../static/css/carousel.css" rel="stylesheet">-->
    <!-- Required style for those damn auto-tests   -->
    <link href="../static/css/style.css" rel="stylesheet">
    
  </head>
<!-- NAVBAR
================================================== -->
  <body class="full">
    <div class="navbar-wrapper" style="font-size: 20px">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">CrocoAcademy</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="index.html">Main</a></li>
                <li class="active"><a href="contact.html">Contacts</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Contact Details
    ================================================== -->
    
    <div class="container marketing">

      
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="../static/images/alligator.jpg" alt="Founder" height="140" width="140">
          <h2>Founder</h2>
          <ul class="contactdata">
              <li><span class="bold">Name:</span> Crocus Rexus</li>
              <li><span class="bold">Email:</span> crocozaurus_rex@crowebdac.pp</li>
              <li><span class="bold">Phone:</span> +1 800 CALL CROCUS</li>
              <li><span class="bold">Skype:</span> ateyourchild</li>
          </ul>
                  
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../static/images/sun.gif" alt="Director" height="140" width="140">
          <h2>Director</h2>
          <ul class="contactdata">
              <li><span class="bold">Name:</span> Sun of Runes</li>
              <li><span class="bold">Email:</span> colnuwko_v_rukax@ya.ru</li>
              <li><span class="bold">Phone:</span> +1 555 354 2342</li>
              <li><span class="bold">Skype:</span> rayoflight</li>
          </ul>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../static/images/crocodile.jpg" alt="Manager" height="140" width="140">
          <h2>Manager</h2>
          <ul class="contactdata">
              <li><span class="bold">Name:</span> Ali ibn Gator</li>
              <li><span class="bold">Email:</span> thebestali11@gmail.com</li>
              <li><span class="bold">Phone:</span> +3 800 FEED ME PLZ</li>
              <li><span class="bold">Skype:</span> gatethegator</li>
          </ul>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      
      <div class="imagerotate">
          <img alt="RUNEZZZ!" src="../static/images/wicca.png" height="240" width="240">
      </div>
      
      
      
      <!-- FOOTER -->
      <footer class="footer">
        <p style="color:orange">©2016 generated by CrocGen v.3.4.1.12hf2 <span style="color:gray">(with just a bit of bootstrap)</span></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="../static/js/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src=../static/js/bootstrap.js"></script>

  

<svg style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;" preserveAspectRatio="none" viewBox="0 0 500 500" height="500" width="500" xmlns="http://www.w3.org/2000/svg"><defs><style type="text/css"></style></defs><text style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif" y="25" x="0">500x500</text></svg></body></html>